@import "@fontsource-variable/inter";
@import "@fontsource-variable/geist-mono";
@import "@discloud/ui/globals.css";

:root {
  --font-inter: "Inter Variable";
  --font-geist-mono: "Geist Mono Variable";
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}